
@{
    ViewBag.Title = "Index";
}

<h2>WebSockets</h2>

<input type="button" value="Starta klockan" id="connect"/>
<input type="button" value="Stoppa klockan" id="disconnect" />
<span id="notifications">-</span>

